---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: licence-app
  annotations:
    fluxcd.io/automated: "true"
spec:
  selector:
    matchLabels:
      app: licence-app
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: licence-app
    spec:
      containers:
      - name: licence-app
          # image: 00000000000000.dkr.ecr.my-region.amazonaws.com/example-eks:tag
        image: 379879511856.dkr.ecr.eu-west-1.amazonaws.com/license-repo:7e424f5b965621442ffc9570076c3554977d65a4
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: 250m
          limits:
            cpu: 500m
